:root{
  --slotcolor: #01BAEF;
  --slotBackgroundHover: #62aa52;
  --slotBackground: #c6ebbe;
}
*{
  font-family: 'Unbounded', curisve;
}
h1{
  color: #ffb700;
}
body{
  display: flex;
  flex-direction:column ;
  align-items: center;
  background-color: var(--slotcolor);
}

.board-container {
  display: flex;
  border-radius: 20px;
  font-size: 8vmin;
  text-align: center;
  vertical-align: middle; 
  background-color: blue;
  width: 700px;
  height: 550px;
}
.circle{
  background-color: var(--slotBackground);
  margin: 10px;
  width: 80px;
  height: 80px;
  border-radius: 50%;
}

button{
  background-color: var(--slotBackground);
  border: none;
  width: 85px;
  height: 85px;
  border-radius: 50%;
  margin: 25px;
  font-family: 'Unbounded',cursive;
  font-weight: 500;
  font-size: 20px;
  text-align: center;

}
.circle:hover{
  background-color: var(--slotBackgroundHover);
}

button:hover{
  background-color: rgb(179, 68, 68);
}